In [5]:
import pandas as pd

data = {"keys":["k1","k2","k1","k2"],
        "Names":["Ravi","Sanjay","Ayan","Anil"],
        "Houses":["red","green","red","blue"],
        "Grade":["3rd","4th","8th","10th"]
       }

df1 = pd.DataFrame(data)
print(df1)

  keys   Names Houses Grade
0   k1    Ravi    red   3rd
1   k2  Sanjay  green   4th
2   k1    Ayan    red   8th
3   k2    Anil   blue  10th

In [6]:
#  now pivoting our data
# index[ndarray] : Labels to use to make new frame’s index
# columns[ndarray] : Labels to use to make new frame’s columns
# values[ndarray] : Values to use for populating new frame’s values

print(df1.pivot(index="keys",columns="Names", values = "Houses"))
print(df1.pivot(index="keys",columns="Names", values = ["Houses","Grade"]))

Names  Anil Ayan Ravi Sanjay
keys
k1      NaN  red  red    NaN
k2     blue  NaN  NaN  green
      Houses                  Grade
Names   Anil Ayan Ravi Sanjay  Anil Ayan Ravi Sanjay
keys
k1       NaN  red  red    NaN   NaN  8th  3rd    NaN
k2      blue  NaN  NaN  green  10th  NaN  NaN    4th

# Melting

In [9]:

data = {
        "Names":["Ravi","Sanjay","Ayan","Anil"],
        "Houses":["red","green","red","blue"],
    "Grade":["3rd","4th","8th","10th"]
       }

df = pd.DataFrame(data)
print(df)

    Names Houses Grade
0    Ravi    red   3rd
1  Sanjay  green   4th
2    Ayan    red   8th
3    Anil   blue  10th

In [13]:
# Syntax: pandas.melt(frame, id_vars=None, value_vars=None,
# var_name=None, value_name=’value’, col_level=None)

print(pd.melt(df,id_vars="Names",value_vars=["Houses","Grade"]))

    Names variable  value
0    Ravi   Houses    red
1  Sanjay   Houses  green
2    Ayan   Houses    red
3    Anil   Houses   blue
4    Ravi    Grade    3rd
5  Sanjay    Grade    4th
6    Ayan    Grade    8th
7    Anil    Grade   10th