In [5]:
import pandas as pd 

data = pd.read_csv("employess_1.csv")
print(data)

#  to find bonus on salary 
# with 20% of our income 

data["Bonus"] = (data["salary"]/100)*20
print(data)

    EEID      Name gender  salary
0  EMP01      ravi      F   20000
1  EMP02     rohit      M   25000
2  EMP03  pranjali      F   27000
3  EMP01      ravi      F   20000
4  EMP05     rohan      M   25000
5  EMP06     rohit      M   30000
6  EMP02     rohit      M   25000
    EEID      Name gender  salary   Bonus
0  EMP01      ravi      F   20000  4000.0
1  EMP02     rohit      M   25000  5000.0
2  EMP03  pranjali      F   27000  5400.0
3  EMP01      ravi      F   20000  4000.0
4  EMP05     rohan      M   25000  5000.0
5  EMP06     rohit      M   30000  6000.0
6  EMP02     rohit      M   25000  5000.0

In [11]:
# Now second example 

data = {"Days":["Monday","Tuesday","Wednesday","Thursday"]}
a = pd.DataFrame(data)
print(a)

def extract(value):
    return value[0:3]

#  now create a column 
a["Short_days"] = a["Days"].map(extract)
print(a)

        Days
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
        Days Short_days
0     Monday        Mon
1    Tuesday        Tue
2  Wednesday        Wed
3   Thursday        Thu