# Column Transformation

In [4]:
import pandas as pd 

data = pd.read_excel("ESD.xlsx")
print(data)

# Now add a column of getBonus 

data.loc[(data["Bonus %"] == 0),"getBonus"] = "no Bonus"
data.loc[(data["Bonus %"] > 0), "getBonus"] = "Bonus"
print(data.head(10))

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]
     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  getBonus
0     0.15  United States    Seattle 2021-10-16     Bonus
1     0.00          China  Chongqing        NaT  no Bonus
2     0.20  United States    Chicago        NaT     Bonus
3     0.07  United States    Chicago        NaT     Bonus
4     0.00  United States    Phoenix        NaT  no Bonus
5     0.00          China  Chongqing        NaT  no Bonus
6     0.10  United States    Phoenix        NaT     Bonus
7     0.00  United States      Miami 2021-05-20  no Bonus
8     0.06  United States     Austin        NaT     Bonus
9     0.00  United States    Chicago        NaT  no Bonus

In [7]:
#  Now we make some more columns into other Excel sheet 

data = pd.read_excel("User.xlsx")
print(data)

data["Full Name"] = data["First Name"].str.capitalize() + " " + data["Last Name"]
print(data)

  First Name Last Name  Salary   Department
0       ravi     kumar   10000           it
1     yuvraj     Singh   20000  enginnering
2      rohit    sharma   40000    developer
3   abhishek    Tiwari   50000     designer
  First Name Last Name  Salary   Department        Full Name
0       ravi     kumar   10000           it       Ravi kumar
1     yuvraj     Singh   20000  enginnering     Yuvraj Singh
2      rohit    sharma   40000    developer     Rohit sharma
3   abhishek    Tiwari   50000     designer  Abhishek Tiwari