In [6]:
import pandas as pd 

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ravi","Rahul","Ram","Shyam","Sanjay","Ajay"],
         "Age":[21,23,32,24,26,23]
        }

data2 = {
    "Emp Id":["E01","E02","E08","E07","E05","E06"],
    "Salary":[20000,40000,30000,60000,25000,54000],
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

  Emp Id   Names  Age
0    E01    Ravi   21
1    E02   Rahul   23
2    E03     Ram   32
3    E04   Shyam   24
4    E05  Sanjay   26
5    E06    Ajay   23
  Emp Id  Salary
0    E01   20000
1    E02   40000
2    E08   30000
3    E07   60000
4    E05   25000
5    E06   54000

In [7]:

# merge 
print(pd.merge(df1,df2,on="Emp Id"))

  Emp Id   Names  Age  Salary
0    E01    Ravi   21   20000
1    E02   Rahul   23   40000
2    E05  Sanjay   26   25000
3    E06    Ajay   23   54000

In [8]:
print(pd.merge(df1,df2,on="Emp Id", how="inner"))

  Emp Id   Names  Age  Salary
0    E01    Ravi   21   20000
1    E02   Rahul   23   40000
2    E05  Sanjay   26   25000
3    E06    Ajay   23   54000

In [9]:
print(pd.merge(df1,df2,on="Emp Id", how="left"))

  Emp Id   Names  Age   Salary
0    E01    Ravi   21  20000.0
1    E02   Rahul   23  40000.0
2    E03     Ram   32      NaN
3    E04   Shyam   24      NaN
4    E05  Sanjay   26  25000.0
5    E06    Ajay   23  54000.0

In [10]:
print(pd.merge(df1,df2,on="Emp Id", how="right"))

  Emp Id   Names   Age  Salary
0    E01    Ravi  21.0   20000
1    E02   Rahul  23.0   40000
2    E08     NaN   NaN   30000
3    E07     NaN   NaN   60000
4    E05  Sanjay  26.0   25000
5    E06    Ajay  23.0   54000

In [13]:
data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ravi","Rahul","Ram","Shyam","Sanjay","Ajay"],
         "Age":[21,23,32,24,26,23]
        }
data3 = {"Emp Id":["E07","E08","E09","E10","E11","E12"],
        "Names":["Raju","Raghav","Ramu","Shyani","Santanu","Ajay"],
         "Age":[21,23,32,24,26,23]
        }
df1 = pd.DataFrame(data1)
df3 = pd.DataFrame(data3)
print(pd.concat([df1,df3]))

  Emp Id    Names  Age
0    E01     Ravi   21
1    E02    Rahul   23
2    E03      Ram   32
3    E04    Shyam   24
4    E05   Sanjay   26
5    E06     Ajay   23
0    E07     Raju   21
1    E08   Raghav   23
2    E09     Ramu   32
3    E10   Shyani   24
4    E11  Santanu   26
5    E12     Ajay   23